<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 mb-20{{/if}}">
        <div class="row no-gutters mb-50 pb-lg-20 pb-xl-30">

            <div class="col-12 mb-20 mb-md-30">
                <div class="row d-flex justify-content-end flex-wrap">
                    <div class="col-12 col-lg-10">
                        {{#if textRow1}}
                            <h3 class="w-100 text-dark mb-20 p-0
                                {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__primary-3 {{/if}}">
                                {{textRow1}}
                            </h3>
                        {{/if}}
                        {{#if isLinkAvailable}}
                            <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} text-dark">
                                {{link.label}}
                            </a>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row d-flex justify-content-end flex-md-nowrap">

                {{#each banners}}
                    <div class="col-6 col-md-3 col-lg-2 mb-20 {{#if banner.isHiddenOnMobile}}h-hidden__sm-down{{/if}}">
                        <div class="{{#if banner.isImageDarken}}card-shadow{{/if}}">
                            {{#if banner.isLinkAvailable}}
                                <a href="{{link.value}}" title="{{link.title}}" class="{{link.className}}">
                            {{/if}}
                                {{>picture banner.image}}
                            {{#if banner.isLinkAvailable}}
                                </a>
                            {{/if}}
                        </div>
                        <div class="{{#if banner.isImageDarken}}card-text-overlay{{/if}}
                            {{~#if banner.colorText.value}} text-{{banner.colorText.value}} {{else}} text-dark {{/if}}">
                            {{#if banner.title}}
                                <h3 class="mb-sm-15 mb-md-10
                                    {{~#if banner.titleSize.value}} b-heading__{{banner.titleSize.value}} {{else}} b-heading__primary-4 {{/if}}">
                                        {{banner.title}}
                                </h3>
                            {{/if}}
                            {{#if banner.descriptionLine1}}
                                <div class="fs-medium">{{banner.descriptionLine1}}</div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>

        </div>
    </div>