<div class="{{gridType.value}}">
        <div class="b-type4 row no-gutters text-dark mb-50 mb-md-30 pb-lg-10 pb-xl-30
            {{~#if bgColor.value}} bg-{{bgColor.value}} {{else}} bg-white {{/if}}
            {{~#if colorText.value}} text-{{colorText.value}} {{else}} text-secondary {{/if}}">

            <div class="col-12 col-md-6 col-lg-5 text-center text-md-left align-self-center order-sm-2 order-md-0
                {{~#unless isTextBlockLeft}} order-md-2 pl-lg-50 {{/unless}} px-md-20">
                <div class="mb-30 mb-lg-40 mb-xl-50">
                {{#if textRow1}}
                    <h2 class="b-type4__title mt-0 mb-20
                        {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__secondary-2 {{/if}}">

                        <span class="{{~#if textRow1Color.value}} text-{{textRow1Color.value}} {{else}} text-black-300 {{/if}}">
                            {{textRow1}}
                            {{#if subText}}
                                <span class="{{~#if subtextColor.value}} text-{{subtextColor.value}} {{else}} text-orange {{/if}}">
                                    {{subText}}
                                </span>
                            {{/if}}
                        </span>
                    </h2>
                {{/if}}

                {{#if textRow2}}
                    <h2 class="b-type4__title mt-0 mb-20
                        {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__secondary-3 {{/if}}">
                        <span class="{{~#if textRow2Color.value}} text-{{textRow2Color.value}} {{else}} text-secondary {{/if}}">
                            {{textRow2}}
                        </span>
                    </h2>
                {{/if}}

                {{#if textRow3}}
                    <div class="b-type4__text m-0
                        {{~#if textRow3Size.value}} b-heading__{{textRow3Size.value}} {{else}} b-heading__primary-6 {{/if}}">
                        <span class="text-{{textRow3Color.value}}">{{textRow3}}</span>
                    </div>
                {{/if}}
                </div>

                {{#if isLinkAvailable}}
                    <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} {{link.className}}">
                        {{link.label}}
                    </a>
                {{/if}}
            </div>
            <div class="col-12 col-md-6 col-lg-7 mb-20 mb-lg-0">
                {{>picture image}}
            </div>
        </div>
    </div>