<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 mb-20 {{/if}}">
    {{#if textRow1}}
        <h3 class="text-center {{#if textAlignment}}text-md-{{textAlignment}}{{/if}} mb-sm-30
        {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__primary-3 {{/if}}">
            <span class="{{~#if textRow1Color.value}} text-{{textRow1Color.value}} {{else}} text-white {{/if}}">
                {{textRow1}}
            </span>
        </h3>
    {{/if}}
    <div class="b-type7 mb-sm-40">
        <div class="b-type7__wrapper row bg-white">

            {{#each tileList}}
                <a href="{{tile.link.value}}" title="{{tile.link.title}}" class="b-type7__item col-xl col-md-3 col-sm-6 py-20 pt-md-10 pb-md-15 text-center {{tile.link.className}}">
                    <span class="d-block mb-15">
                        {{>picture tile.image}}
                    </span>
                    {{#if tile.textRow1}}
                        <h3 class="b-type7__text mb-0
                            {{~#if tile.textRow1Size.value}} b-heading__{{tile.textRow1Size.value}} {{else}} b-heading__secondary-4 {{/if}}">
                            <span class="fs-sm-medium
                                {{~#if tile.textRow1Color.value}} text-{{tile.textRow1Color.value}} {{else}} text-secondary {{/if}}">
                                {{tile.textRow1}}
                            </span>
                        </h3>
                    {{/if}}
                </a>
            {{/each}}

        </div>
    </div>
</div>