<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 {{/if}} mb-40">
    <div class="b-type6 card {{~#if textColor.value}} text-{{textColor.value}} {{else}} text-white {{/if}}">
        {{>picture image}}
        <div class="card-img-overlay{{#unless isImageInBackground}} static-md{{/unless}}{{#if isImageDarken}} card-img-shadow{{/if}}">
            <div class="card-img-content row align-items-{{textVerticalPosition}} justify-content-{{textHorizontalPosition}} h-100">
                <div class="{{textGridType}} text-center text-md-{{textAlignment}} pl-md-30">
                    {{#if textRow1}}
                        <h2 class="mt-0 mb-15 {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__secondary-2 {{/if}}">
                            <span class="{{~#if textRow1Color.value}} text-{{textRow1Color.value}} {{else}} text-white {{/if}}">
                                {{textRow1}}
                            </span>
                            {{#if textRow2}}
                                <div class="{{~#if textRow2Size.value}} b-heading__{{textRow2Size.value}} {{else}} b-heading__secondary-4 {{/if}}">
                                    <span class="{{~#if textRow2Color.value}} text-{{textRow2Color.value}} {{else}} text-white {{/if}}">
                                        {{textRow2}}
                                    </span>
                                </div>
                            {{/if}}
                        </h2>
                    {{/if}}
                    {{#if textRow3}}
                        <div class="mt-0 mb-50 {{~#if textRow3Size.value}} b-heading__{{textRow3Size.value}} {{else}} b-heading__primary-6 {{/if}}">
                            <span class="{{~#if textRow3Color.value}} text-{{textRow3Color.value}} {{else}} text-white {{/if}}">
                                {{textRow3}}
                            </span>
                        </div>
                    {{/if}}
                    {{#if isLinkAvailable}}
                        <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} {{link.className}}">
                            {{link.label}}
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>