<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 mb-20 {{/if}}">
    <div class="b-type3 card">
        {{>picture image}}

        <div class="card-body py-20 py-lg-40
            {{~#if bgColor.value}} bg-{{bgColor.value}} {{else}} bg-info-dark {{/if}}
            {{~#if colorText.value}} text-{{colorText.value}} {{else}} text-white {{/if}}">
            {{#if textRow1}}
                <h2 class="mt-0 mb-20 {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__secondary-4 {{/if}}">
                    {{textRow1}}
                </h2>
            {{/if}}
            {{#if textRow2}}
                <div class="mb-20 fs-lg-large">
                    {{textRow2}}
                </div>
            {{/if}}
            {{#if isLinkAvailable}}
                <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} {{link.className}} h-block__mobile">
                    {{link.label}}
                </a>
            {{/if}}
        </div>
    </div>
</div>