<div class="
    {{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 {{/if}}
    {{~#if extraClass}} {{extraClass}} {{/if}}">
	{{#if assetTitle}}
		<div class="fs-large fs-lg-xlarge font-weight-bold text-nowrap pb-20 pb-lg-30">
			<span class="{{~#if assetTitleSize.value}} b-heading__{{assetTitleSize.value}} {{else}} b-heading__secondary-5 {{/if}}">
                {{assetTitle}}
            </span>
		</div>
	{{/if}}
    <div class="b-type5 card bg-dark">
		{{#if isLinkWrapped}}
			<a href="{{link.value}}" title="{{link.title}}" class="{{link.className}}">
		{{/if}}

			{{>picture image}}

		{{#if isLinkWrapped}}
			</a>
		{{/if}}

	{{#if isTextBackgroundGradient}}
		<div class="card-img-overlay p-0">
			<div class="row h-100 no-gutters">
				<div class="col-12 b-type5__gradient align-self-end">
					<div class="b-type5__header text-{{textAlignmentMobile}} text-md-{{textAlignment}} {{#if removeTextPadding}}px-0{{else}}p-15{{/if}}">
	{{else}}
        <div class="card-body text-{{textAlignmentMobile}} text-md-{{textAlignment}} text-white {{#if removeTextPadding}}px-0{{else}}p-15{{/if}}
            {{~#if bgColor.value}} bg-{{bgColor.value}} {{else}} bg-dark {{/if}}">
	{{/if}}

            {{#if textRow1}}
                <h2 class="m-0 {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__secondary-3 {{/if}}">
                    <span class="{{~#if textRow1Color.value}} text-{{textRow1Color.value}} {{else}} text-white {{/if}}">{{textRow1}}</span>
                </h2>
            {{/if}}
            {{#if textRow2}}
                <h5 class="m-0 mt-10 {{~#if textRow2Size.value}} b-heading__{{textRow2Size.value}} {{else}} b-heading__secondary-4 {{/if}}">
                    <span class="{{~#if textRow2Color.value}} text-{{textRow2Color.value}} {{else}} text-white {{/if}}">{{textRow2}}</span>
                </h5>
            {{/if}}

            {{#unless isLinkWrapped}}
                <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} text-white">
                    <span class="b-heading__primary-5">
                        {{link.label}}
                    </span>
                </a>
            {{/unless}}

	{{#if isTextBackgroundGradient}}
					</div>
				</div>
			</div>
		</div>
	{{else}}
		</div>
	{{/if}}

	</div>
</div>