{{#if gridTypeValue}}
<div class="b-type8 {{gridTypeValue}}">
{{/if}}
    <div class="b-type8__text row no-gutters px-30 py-15 py-md-25 py-lg-30 pt-xl-20
        {{~#if textPosition}} text-{{textPosition}} {{/if}}"
        {{~#if image}}
            style=" background: url('https://{{image.image.defaultHost}}/i/{{image.image.endpoint}}/{{image.image.name}}')
                    no-repeat bottom center;
                    background-size: cover;"
        {{/if}}>

            {{#if textRow1}}
                <h3 class="m-0 col-12 text-uppercase {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__tertiary-2 {{/if}}">
                    <span class="{{~#if colorText.value}} text-{{colorText.value}} {{else}} text-pink {{/if}}">
                        {{textRow1}}
                    </span>
                </h3>
            {{/if}}
            {{#if isLinkAvailable}}
                <div class="col-12">
                    <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} {{link.className}}">
                        {{link.label}}
                    </a>
                </div>
            {{/if}}
	</div>

{{#if gridTypeValue}}
</div>
{{/if}}