{{#if this.col1.sfccSlotContentArray}}
	<div class="b-content__block row
				{{#if this.gutters.hasNoGutters}}no-gutters{{/if}}
				{{#if this.gutters.isOnEdge}}mx-n20 mx-md-0{{/if}}
				{{#if this.justifyContent}} justify-content-{{this.justifyContent}}{{/if}}
				{{#if this.rowWidth.value}} w-{{this.rowWidth.value}}{{/if}}
				{{#if this.extraClass}} {{this.extraClass}} {{/if}}
	">
		{{#if this.col2.gridTypeValue}}
			<div class="{{this.col1.gridTypeValue}} {{this.col1.extraClass}}">
		{{/if}}
			{{#if this.col1.isRowClass}}
				<div class="b-content__main">
				  <div class="row {{#if this.gutters.hasNoGutters1}}no-gutters{{/if}}">
			{{/if}}
				  {{#each this.col1.sfccSlotContentArray}}
					  {{> templateChooser this}}
				  {{/each}}
			{{#if this.col1.isRowClass}}
				  </div>
				</div>
			{{/if}}
		{{#if this.col2.gridTypeValue}}
		</div>
		{{/if}}

		{{#if this.col2.gridTypeValue}}
			<div class="{{this.col2.gridTypeValue}} {{this.col2.extraClass}}">
				{{#if this.col2.isRowClass}}
					<div class="b-content__aside">
					  <div class="row {{#if this.gutters.hasNoGutters2}}no-gutters{{/if}}">
				{{/if}}
					  {{#each this.col2.sfccSlotContentArray}}
						  {{> templateChooser this}}
					  {{/each}}
				{{#if this.col2.isRowClass}}
					  </div>
					</div>
				{{/if}}
			</div>
		{{/if}}

	</div>
{{~/if}}