<div>This is our test card example</div>
<p>Display card name: {{this.cardName}}</p>
<p>Display card description: {{this.description}}</p>
<p>Display card link label: {{this.link1.label}}</p>
<p>Display card link value: {{this.link1.value}}</p>
<p>Display card image {{this.cardImage1.defaultHost}}:
    <img src="https://{{this.cardImage1.defaultHost}}/i/{{this.cardImage1.endpoint}}/{{this.cardImage1.name}}">
</p>
<p>Display card link label: {{this.link2.label}}</p>
<p>Display card link value: {{this.link2.value}}</p>
<p>Display card image {{this.cardImage2.defaultHost}}:
    <img src="https://{{this.cardImage2.defaultHost}}/i/{{this.cardImage2.endpoint}}/{{this.cardImage2.name}}">
</p>