<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 mb-20 {{/if}}">
        <div class="b-type1 text-white {{#unless assetBackgroundImage}}pt-25 py-md-20 py-xl-25{{/unless}}
            {{~#if bgColorBlock.value}} bg-{{bgColorBlock.value}} {{else}} bg-primary {{/if}}">

            {{#if assetBackgroundImage}}
                {{#if link.value}}
                    <a href="{{link.value}}" title="{{link.title}}" class="{{link.className}}">
                {{/if}}

                {{>picture assetBackgroundImage}}

                {{#if link.value}}
                    </a>
                {{/if}}
                <div class="card-img-overlay static-{{staticTextLocation}}">
            {{/if}}

            <div class="row align-items-center justify-content-{{textPosition}} h-100 px-lg-20">
                {{#unless assetBackgroundImage}}
                    <div class="col-12 col-md-4 col-xl-5">
                        {{#if link.value}}
                            <a href="{{link.value}}" title="{{link.title}}" class="{{link.className}}">
                        {{/if}}

                            {{>picture image}}

                        {{#if link.value}}
                            </a>
                        {{/if}}
                    </div>
                {{/unless}}
                <div class="col-12 col-md-8 col-xl-7 text-center text-md-left">
                    <div class="d-md-inline-block p-10 mb-md-10 pt-sm-15
                        {{~#if bgColorText.value}} bg-{{bgColorText.value}} {{else}} bg-secondary {{/if}}">
                        {{#if textRow1}}
                            <h3 class="m-0 text-uppercase
                                {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__secondary-2 {{/if}}">
                                <span class="{{~#if bgColorBlock.value}} text-{{bgColorBlock.value}} {{else}} text-primary {{/if}}">
                                    {{textRow1}}
                                </span>
                            </h3>
                        {{/if}}
                        {{#if textRow2}}
                            <h2 class="m-0  text-uppercase
                                {{~#if textRow2Size.value}} b-heading__{{textRow2Size.value}} {{else}} b-heading__secondary-5 {{/if}}">
                                {{textRow2}}
                            </h2>
                        {{/if}}
                    </div>
                    {{#if textRow3}}
                        <div class="d-md-inline-block p-15 pt-sm-0 pt-md-15 {{#if assetBackgroundImage}} text-center{{/if}}
                        {{~#if bgColorText.value}} bg-{{bgColorText.value}} {{else}} bg-secondary {{/if}} ">
                            <h4 class="m-0
                                {{~#if textRow3Size.value}} b-heading__{{textRow3Size.value}} {{else}} b-heading__secondary-8 {{/if}}">
                                {{textRow3}}
                            </h4>
                        </div>
                    {{/if}}
                </div>
            </div>

            {{#if assetBackgroundImage}}
                </div>
            {{/if}}

        </div>
    </div>