<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{/if}}">
        <div class="card">
            {{#if image}}
                <div class="{{#if isImageDarken}}card-shadow{{/if}}">
                    {{>picture image}}
                </div>
            {{/if}}
            <div class="card-img-overlay">
                <div class="h-container h-100 card-text-overlay">
                    <div class="row no-gutters align-content-end align-content-md-{{textVerticalPosition}} justify-content-{{textHorizontalPosition}} text-{{textAlignment}} h-100">
                        {{#if textRow1}}
                            <div class="mt-0 mb-15 col-12 col-lg-7 {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__tertiary-2 {{/if}}">
                                <span class="{{~#if textRow1color.value}} text-{{textRow1color.value}} {{else}} text-white {{/if}}">{{textRow1}}</span>
                            </div>
                        {{/if}}
                        {{#if textRow2}}
                            <div class="mt-0 mb-15 col-12 col-lg-7 {{~#if textRow2Size.value}} b-heading__{{textRow2Size.value}} {{else}} b-heading__tertiary-4 {{/if}}">
                                <span class="{{~#if textRow2color.value}} text-{{textRow2color.value}} {{else}} text-white {{/if}}">{{textRow2}}</span>
                            </div>
                        {{/if}}
                        {{#if textRow3}}
                            <div class="mt-0 mb-20 mb-md-50 col-12 col-lg-7 {{~#if textRow3Size.value}} b-heading__{{textRow3Size.value}} {{else}} b-heading__tertiary-5 {{/if}}">
                                <span class="{{~#if textRow31color.value}} text-{{textRow3color.value}} {{else}} text-white {{/if}}">{{textRow3}}</span>
                            </div>
                        {{/if}}
                        {{#if isLinkAvailable}}
                            <div class="col-12 col-lg-7">
                                <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}}">
                                    {{link.label}}
                                </a>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>