{{#if gridTypeValue}}
<div class="{{gridTypeValue}}">
{{/if}}
    {{#if assetTitle}}
        <div class="fs-large fs-lg-xlarge font-weight-bold text-nowrap pb-20 pb-lg-30">{{assetTitle}}</div>
    {{/if}}
    <div class="b-type2 card text-center {{~#if extraClassValue}} {{extraClassValue}} {{/if}}">
        {{>picture image}}
        <div class="card-img-overlay {{#if isImageDarken}}card-img-shadow{{/if}}">
            <div class="b-type2__data row h-100">
                <div class="col-12 align-self-{{textPosition}}">
                    {{#if textRow1}}
                        <h2 class="m-0 {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__tertiary-3 {{/if}}">
                            <span class="{{~#if textRow1Color.value}} text-{{textRow1Color.value}} {{else}} text-primary {{/if}}">
                                {{textRow1}}
                            </span>
                        </h2>
                    {{/if}}
                    {{#if textRow2}}
                        <h3 class="mt-0 mb-20 {{~#if textRow2Size.value}} b-heading__{{textRow2Size.value}} {{else}} b-heading__primary-5 {{/if}}">
                            <span class="{{~#if textRow2Color.value}} text-{{textRow2Color.value}} {{else}} text-white {{/if}}">
                                {{textRow2}}
                            </span>
                        </h3>
                    {{/if}}
                    {{#if textRow3}}
                        <h4 class="m-0 {{~#if textRow3Size.value}} b-heading__{{textRow3Size.value}} {{else}} b-heading__tertiary-2 {{/if}}">
                            <div class="{{~#if textRow3Color.value}} text-{{textRow3Color.value}} {{else}} text-white {{/if}}">
                                {{textRow3}}
                                <div>{{textRow4}}</div>
                            </div>
                        </h4>
                    {{/if}}
                </div>
                {{#if isLinkAvailable}}
                    <div class="col-12 {{#if isLinkAttachedToBottom}}b-type2__button{{/if}}">
                        <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} {{link.className}}">
                            {{link.label}}
                        </a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{#if gridTypeValue}}
</div>
{{/if}}