<div class="
    {{#unless gridTypeValue}} {{gridType.value}} {{/unless}}
    {{#if gridTypeValue}} {{gridTypeValue}} {{/if}}
">
    <div class="b-type6 card text-center  p-75
        {{#unless bgColor}} bg-{{backgroundColor.value}} {{/unless}}
        {{#if bgColor}} bg-{{bgColor.value}} {{/if}}
        {{#unless colorText}} text-{{textColor.value}} {{/unless}}
        {{#if colorText}} text-{{colorText.value}} {{/if}}
    ">
 		<div class="card-img-content row align-items-center justify-content-{{textPosition}} h-100">
			<div class="col-12">
				{{#if textRow1}}
					<h2 class="mt-0 text-uppercase b-heading__tertiary-4">
						{{textRow1}}
					</h2>
				{{/if}}
			</div>
		</div>
    </div>
</div>