<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{/if}} mb-40">
    <div class="b-type9 card
        {{~#if textColor.value}} text-{{textColor.value}} {{else}} text-white {{/if}}">
        {{>picture image}}
        <div class="card-img-overlay {{#if isImageDarken}}card-img-shadow{{/if}} px-0">
            <div class="card-img-content h-container row align-items-{{textPosition}} h-100">
                <div class="col-12 col-md-8 text-center text-md-left {{#if isTextOnLeftMobile}}text-sm-left{{/if}} px-0">
                    {{#if textRow1}}
                        <h2 class="mt-0 mb-15
                            {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__primary-3 {{/if}}">
                            <span class="{{~#if textRow1Color.value}} text-{{textRow1Color.value}} {{else}} text-secondary {{/if}}">
                                {{textRow1}}
                            </span>
                            {{#if subText}}
                                <span class="{{~#if subtextRow1Color.value}} text-{{subtextRow1Color.value}} {{else}} text-primary {{/if}}">
                                    {{subText}}
                                </span>
                            {{/if}}
                            {{#if textRow2}}
                                <div class="{{~#if textRow2Size.value}} b-heading__{{textRow2Size.value}} {{else}} b-heading__primary-4 {{/if}}">
                                    <span class="{{~#if textRow2Color.value}} text-{{textRow2Color.value}} {{else}} text-secondary {{/if}}">
                                        {{textRow2}}
                                    </span>
                                </div>
                            {{/if}}
                        </h2>
                    {{/if}}
                    {{#if textRow3}}
                        <div class="mt-0 mb-50
                            {{~#if textRow3Size.value}} b-heading__{{textRow3Size.value}} {{else}} b-heading__primary-5 {{/if}}">
                            <span class="{{~#if textRow3Color.value}} text-{{textRow3Color.value}} {{else}} text-secondary {{/if}}">
                                {{textRow3}}
                            </span>
                        </div>
                    {{/if}}
                    {{#if isLinkAvailable}}
                        <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}}">
                            {{link.label}}
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>