<div class="b-sticky__vrn b-book-service py-30 px-15 px-md-20 px-xl-30 py-xl-50 rounded
    {{~#if bgColor.value}} bg-{{bgColor.value}} {{else}} bg-gray-200 {{/if}}">
        {{#if titleGlobal}}
            <h3 class="b-book-service__title b-heading__primary-3 mb-20">
                {{titleGlobal}}
            </h3>
        {{/if}}
        {{#if description}}
            <div class="b-book-service__description mb-25 text-gray-900 fs-lg-medium">
                {{description}}
            </div>
        {{/if}}
        {{#if titleBlock1}}
            <h4 class="b-book-service__element-title b-heading__primary-4 mb-20">
                <span class="icon-vehicle text-primary mr-15"></span>
                <span class="text-black-300">
                    {{titleBlock1}}
                </span>
            </h4>
        {{/if}}
        <h5 class="b-book-service__element-subtitle b-heading__primary-6 mb-sm-10">
            <span class="text-black-300">
                Registration Number
            </span>
        </h5>
        <div class="row no-gutters mb-sm-10">
            <div class="b-book-service__field col-sm">
                <input type="text" class="b-book-service__input" name="" placeholder="" aria-label="">
            </div>
            <div class="b-book-service__submit col-sm-auto">
                <button type="submit" class="b-button__{{button1.viewType}} {{button1.className}} b-book-service__button">{{button1.name}}</button>
            </div>
        </div>
        <a class="b-book-service__link mb-sm-30 text-black-300 d-block" href="${#}" title="">I don't remember registration number</a>
        <hr class="line-item-divider mb-sm-30" />
        {{#if titleBlock2}}
            <h4 class="b-book-service__element-title b-heading__primary-4 mb-20">
                <span class="icon-store text-primary mr-15"></span>
                <span class="text-black-300">
                    {{titleBlock2}}
                </span>
            </h4>
        {{/if}}
        <h5 class="b-book-service__element-subtitle b-heading__primary-6 mb-sm-10">
            <span class="text-black-300">
                Postcode
            </span>
        </h5>
        <div class="row no-gutters mb-sm-30">
            <div class="b-book-service__field col-sm">
                <input type="text" class="b-book-service__input" name="" placeholder="" aria-label="">
            </div>
            <div class="b-book-service__submit col-sm-auto">
                <button type="submit" class="b-button__{{button2.viewType}} {{button2.className}} b-book-service__button">{{button2.name}}</button>
            </div>
        </div>
        <div class="row no-gutters mx-n5 d-flex flex-xl-nowrap">
            {{#each buttonGlobal}}
                <button class="b-button__{{button.viewType}}  mb-sm-10 mx-5 px-10 w-100 {{button.className}}">{{button.name}}</button>
            {{/each}}
        </div>
    </div>