<div class="b-hero__element {{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 {{/if}}">
    <div class="b-hero__element-text
            {{~#if extraClass}} {{extraClass}} {{/if}}
            {{~#if colorText.value}} text-{{colorText.value}} {{else}} text-white {{/if}}
             {{#if isImageDarken}}card-text-overlay{{/if}}">
	    {{#if title}}
		    <h2 class="mb-sm-15 mb-md-25 mr-100 {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__primary-1 {{/if}}">
		        {{title}}
		    </h2>
		 {{/if}}
		{{#if descriptionLine}}
			<div class="mb-30">
				{{descriptionLine}}
			</div>
		{{/if}}
		{{#if subtitle}}
		    <h3 class="mb-15 {{~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__primary-4 {{/if}}">
		        {{subtitle}}
		    </h3>
		{{/if}}
		{{#if categoryLinks}}
			<ul class="b-hero__services row">
				{{#each categoryLinks}}
					<li class="b-hero__service col-sm-12 {{#if ../hasTwoColLayout}}col-sm-6 col-lg-5{{else}}col-lg-auto{{/if}}">
						<a href="{{link.value}}" title="{{link.title}}" class="b-hero__link text-{{../colorText.value}}">
							<span class="{{link.className}}">{{link.label}}</span>
						</a>
					</li>
					<li class="b-hero__link-divider bg-{{../textColor.value}}"></li>
				{{/each}}
			</ul>
		{{/if}}
	</div>
	<div class="{{#if isImageDarken}}card-shadow{{/if}}">
		{{#if isLinkAvailable}}
			<a href="{{link.value}}" title="{{link.title}}" class="{{link.className}}">
		{{/if}}
			{{>picture image}}
		{{#if isLinkAvailable}}
			</a>
		{{/if}}
	</div>
</div>