<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 {{/if}}">
	<div class="b-hero__wrapper b-hero__left h-100">
		<div class="b-hero__content h-container pl-md-20 pb-20 pb-lg-0 pt-lg-0 text-dark">
		    {{#if title}}
                <h2 class="mt-0 mb-20 mb-md-30 col-sm-6 col-md-12 px-0 pt-20 pt-md-40
                {~#if textRow1Size.value}} b-heading__{{textRow1Size.value}} {{else}} b-heading__primary-1 {{/if}}">
			        {{title}}
			    </h2>
			{{/if}}
            {{#each gridRow}}

                {{#if row.title}}
                    <h3 class="heading__primary-4 mb-20 mb-md-25">
                        {{row.title}}
                    </h3>
                {{/if}}

				<div class="row mb-10 mb-md-30 mb-xl-75">
					{{#each row.tileList}}
						<div class="col-sm-12 col-md-3 mb-20">
							<div class="b-type5 card text-{{tile.textPosition}}">

                                {{>picture tile.image}}

								{{#if tile.isLinkAvailable}}
                                    <div class="card-body p-0
                                        {{~#if tile.bgColor.value}} bg-{{tile.bgColor.value}} {{else}} bg-dark {{/if}}">

										<div class="card-body__wrapper mx-10">
                                            <a href="{{tile.link.value}}" title="{{tile.link.title}}"
                                            class="b-button__link text-decoration-none {{tile.link.className}}
                                            {{~#if tile.colorText.value}} text-{{tile.colorText.value}} {{else}} text-white {{/if}}">
    											{{tile.link.label}}
    										</a>
										</div>
									</div>
								{{/if}}
							</div>
						</div>
					{{/each}}
				</div>
			{{/each}}
		</div>
	</div>
</div>