<div class="col-12 col-lg-6">
    <div class="b-hero__wrapper h-100 {{#unless hasNoLeftShift}}b-hero__featured{{/unless}}">
        <div class="b-hero__content pl-20 pb-50 pt-50 pt-xl-100 {{#if hasNoLeftShift}}pl-lg-75 pl-xl-100{{/if}}
            {{~#if colorText.value}} text-{{colorText.value}} {{else}} text-white {{/if}}">
    		{{#if title}}
                <h2 class="mt-0 mb-20
                    {{~#if titleSize.value}} b-heading__{{titleSize.value}} {{else}} b-heading__primary-1 {{/if}}">
    		        {{title}}
    		    </h2>
    		{{/if}}
    		{{#if descriptionLine1}}
        		<div class="fs-medium mb-30">
        			{{descriptionLine1}}
        			<div>{{descriptionLine2}}</div>
        		</div>
    		{{/if}}
    		{{#if isExtraLinkAvailable}}
    			<div class="b-hero__buttons">
    		{{/if}}

    			{{#if isLinkAvailable}}
    				<a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} mb-50">
    					{{link.label}}
    				</a>
    			{{/if}}

    			{{#if isExtraLinkAvailable}}
    				<a href="{{extraLink.value}}" title="{{extraLink.title}}" class="b-button__{{extraLinkType}} mb-50 ml-5">
    					{{extraLink.label}}
    				</a>
    			{{/if}}

    		{{#if isExtraLinkAvailable}}
    			</div>
    		{{/if}}

    		{{#if subtitle}}
                <h3 class="b-hero__subtitle mb-15
                    {{~#if subtitleSize.value}} b-heading__{{subtitleSize.value}} {{else}} b-heading__primary-4 {{/if}}">
    		        {{subtitle}}
    		    </h3>
    		{{/if}}
    		{{#if categoryLinks}}
    			<ul class="b-hero__services {{#if hasTwoColLayout}}b-hero__services-column row{{/if}}">
    				{{#each categoryLinks}}
    					<li class="b-hero__service {{#if ../hasTwoColLayout}}col-sm-6{{/if}}">
    						<a href="{{link.value}}" title="{{link.title}}" class="b-hero__link {{link.className}}">
    							{{link.label}}
    						</a>
    					</li>
    				{{/each}}
    			</ul>
    		{{/if}}
    	</div>
    	<div class="b-hero__banner {{#if isImageDarken}}card-img-shadow{{/if}}">
    		{{>picture image}}
    	</div>
    </div>
</div>