<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 {{/if}}">
        <div class="b-hero__wrapper h-100 b-hero__left">
            <div class="b-hero__content pl-20 pb-50 pb-lg-0 pt-lg-0 pb-xl-50 pt-xl-100
                        {{~#if isImageDarken}}card-text-overlay{{/if}}
                        {{~#if colorText.value}} text-{{colorText.value}} {{else}} text-dark {{/if}}
            ">
                {{#if title}}
                    <h2 class="mt-0 mb-30 col-sm-6 col-md-12 px-0 pt-40
                        {{~#if titleSize.value}} b-heading__{{titleSize.value}} {{else}} b-heading__primary-1 {{/if}}">
                        {{title}}
                    </h2>
                {{/if}}
                {{#if subtitle}}
                    <h3 class="mb-15
                            {{~#if subtitleSize.value}} b-heading__{{subtitleSize.value}} {{else}} b-heading__primary-4 {{/if}}">
                        {{subtitle}}
                    </h3>
                {{/if}}
                {{#if categoryLinks}}
                    <ul class="b-hero__services row mb-50">
                        {{#each categoryLinks}}
                            <li class="b-hero__service col-sm-12 {{#if ../hasTwoColLayout}}col-sm-6 col-lg-5{{else}}col-lg-auto{{/if}}">
                                <a href="{{link.value}}" title="{{link.title}}" class="b-hero__link text-{{../textColor.value}}">
                                    <span class="{{link.className}}">{{link.label}}</span>
                                </a>
                            </li>
                            <li class="b-hero__link-divider"></li>
                        {{/each}}
                    </ul>
                {{/if}}
                {{#if descriptionLine1}}
                    <h3 class="mb-20
                        {{~#if descriptionLine1Size.value}} b-heading__{{descriptionLine1Size.value}} {{else}} b-heading__primary-4 {{/if}}">
                        {{descriptionLine1}}
                    </h3>
                {{/if}}
                {{#if descriptionLine2}}
                <div class="fs-medium mb-30 col-sm-9 col-lg-12 px-0">
                    {{descriptionLine2}}
                </div>
                {{/if}}
                {{#if isLinkAvailable}}
                    <a href="{{link.value}}" title="{{link.title}}" class="b-button__{{linkType}} {{link.className}}">
                        {{link.label}}
                    </a>
                {{/if}}
            </div>
            <div class="b-hero__banner {{#if isImageDarken}}card-shadow{{/if}}">
                {{>picture image}}
            </div>
        </div>
    </div>