<div class="{{~#if gridTypeValue}} {{gridTypeValue}} {{else}} col-12 {{/if}}">
    <div class="row no-gutters {{~#if extraClass}} {{extraClass}} {{/if}}">

        {{#each banners}}
            <div class="b-hero__element сol-12 col-md-6 col-lg-12">
                <div class="b-hero__element-text text-{{banner.textColor.value}} {{#if banner.isImageDarken}}card-text-overlay{{/if}}">
                    {{#if banner.title}}
                        <h3 class="mb-sm-15 mb-md-10
                            {{~#if banner.titleSize.value}} b-heading__{{banner.titleSize.value}} {{else}} b-heading__primary-4 {{/if}}">
                            {{banner.title}}
                        </h3>
                    {{/if}}
                    {{#if banner.descriptionLine1}}
                        <div class="fs-medium">{{banner.descriptionLine1}}</div>
                    {{/if}}
                </div>
                <div class="{{#if banner.isImageDarken}}card-shadow{{/if}}">
                    {{#if banner.isLinkAvailable}}
                        <a href="{{link.value}}" title="{{link.title}}" class="{{link.className}}">
                    {{/if}}
                        {{>picture banner.image}}
                    {{#if banner.isLinkAvailable}}
                        </a>
                    {{/if}}
                </div>
            </div>
        {{/each}}

    </div>
</div>