<picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->

        {{! WebP }}
        {{#if widthS}}
            <source
                data-srcset="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}.webp?$sfcc_poi$&w={{widthS}}{{#if aspectS}}&sm=aspect&aspect={{aspectS}}{{/if}} 1x, https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}.webp?$sfcc_poi$&w={%20{{widthS}}*2}{{#if aspectS}}&sm=aspect&aspect={{aspectS}}{{/if}} 2x"
                media="(max-width: 767px)"
                type="image/webp"/>
        {{/if}}
        {{#if widthM}}
            <source
                data-srcset="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}.webp?$sfcc_poi$&w={{widthM}}{{#if aspectM}}&sm=aspect&aspect={{aspectM}}{{/if}} 1x, https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}.webp?$sfcc_poi$&w={%20{{widthM}}*2}{{#if aspectM}}&sm=aspect&aspect={{aspectM}}{{/if}} 2x"
                media="(max-width: 1023px)"
                type="image/webp"/>
        {{/if}}
        {{#if widthL}}
           <source
                data-srcset="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}.webp?$sfcc_poi$&w={{widthL}}{{#if aspectL}}&sm=aspect&aspect={{aspectL}}{{/if}} 1x, https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}.webp?$sfcc_poi$&w={%20{{widthL}}*2}{{#if aspectL}}&sm=aspect&aspect={{aspectL}}{{/if}} 2x"
                media="(max-width: 1439px)"
                type="image/webp"/>
        {{/if}}
        <source
            data-srcset="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}.webp?$sfcc_poi$&w={{widthXL}}{{#if aspectXL}}&sm=aspect&aspect={{aspectXL}}{{/if}} 1x, https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}.webp?$sfcc_poi$&w={%20{{widthXL}}*2}{{#if aspectXL}}&sm=aspect&aspect={{aspectXL}}{{/if}} 2x"
            media="(min-width: 0px)"
            type="image/webp"/>

        {{! JPEG and others }}
        {{#if widthS}}
            <source
                data-srcset="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={{widthS}}{{#if aspectS}}&sm=aspect&aspect={{aspectS}}{{/if}} 1x, https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={%20{{widthS}}*2}{{#if aspectS}}&sm=aspect&aspect={{aspectS}}{{/if}}? 2x"
                media="(max-width: 767px)"/>
        {{/if}}
        {{#if widthM}}
            <source
                data-srcset="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={{widthM}}{{#if aspectM}}&sm=aspect&aspect={{aspectM}}{{/if}} 1x, https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={%20{{widthM}}*2}{{#if aspectM}}&sm=aspect&aspect={{aspectM}}{{/if}} 2x"
                media="(max-width: 1023px)"/>
        {{/if}}
        {{#if widthL}}
           <source
                data-srcset="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={{widthL}}{{#if aspectL}}&sm=aspect&aspect={{aspectL}}{{/if}} 1x, https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={%20{{widthL}}*2}{{#if aspectL}}&sm=aspect&aspect={{aspectL}}{{/if}} 2x"
                media="(max-width: 1439px)"/>
            
        {{/if}}
        <source
            data-srcset="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={{widthXL}}{{#if aspectXL}}&sm=aspect&aspect={{aspectXL}}{{/if}} 1x, https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={%20{{widthXL}}*2}{{#if aspectXL}}&sm=aspect&aspect={{aspectXL}}{{/if}} 2x"
            media="(min-width: 0px)"/>
    <!--[if IE 9]></video><![endif]-->

    <img
       src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" 
       data-src="https://{{image.defaultHost}}/i/{{image.endpoint}}/{{image.name}}?$sfcc_poi$&w={{widthXL}}{{#if aspectXL}}&sm=aspect&aspect={{aspectXL}}{{/if}}"
       alt="{{#if altText}}{{altText}}{{else}}{{image.name}}{{/if}}"
       title="{{#if altText}}{{altText}}{{else}}{{image.name}}{{/if}}"
       class="lazy"
    />
</picture>