{{! sfcc content asset integration}}
{{#if this.content-asset-body}}
    {{> templateChooser this.content-asset-body}}
{{~/if}}

{{! sfcc content slot integration}}

{{#if this.contentComplex}}
    {{> content-complex this.contentComplex }}
{{/if}}

{{! sfcc content slot carousel integration}}
{{#if this.carousel}}
    {{#if this.carousel.isRowClass}}
        <div class="row {{this.carousel.extraClass.value}} {{#if this.hasNoGutters}}no-gutters{{/if}}">
    {{/if}}
            <div class="b-carousel {{#if this.carousel.isRowClass}} {{this.carousel.gridType.value}} {{/if}}"
                data-cmp="carousel"
                {{#if this.config}}
                    data-json-config="{{this.config}}"
                {{/if}}
            >
                {{#each this.carousel.sfccSlotContentArray}}
                    <div class="b-carousel__item row no-gutters">
                        {{> templateChooser this}}
                    </div>
                {{/each}}
            </div>
    {{#if this.carousel.isRowClass}}
        </div>
    {{/if}}
{{/if}}

{{! visualization service}}
{{#if (test this.[@type] (toRegex ".*/content-type-1")) ~}}
  {{> content-type-1 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-type-2")) ~}}
  {{> content-type-2 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-type-3")) ~}}
  {{> content-type-3 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-type-4")) ~}}
  {{> content-type-4 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-type-5")) ~}}
  {{> content-type-5 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-type-6")) ~}}
  {{> content-type-6 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-type-7")) ~}}
  {{> content-type-7 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-type-8")) ~}}
  {{> content-type-8 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-type-9")) ~}}
  {{> content-type-9 }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-main")) ~}}
  {{> content-complex }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-carousel-item")) ~}}
  {{> content-carousel-item }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/clp-image-tile")) ~}}
  {{> clp-image-tile }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/hp-personalized-default")) ~}}
  {{> hp-personalized-default }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/hp-personalized-cycling" )) ~}}
  {{> hp-personalized-cycling }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/hp-personalized-subcycling" )) ~}}
  {{> hp-personalized-subcycling }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/hp-personalized-motoring" )) ~}}
  {{> hp-personalized-motoring }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/hp-personalized-services" )) ~}}
  {{> hp-personalized-services }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/global-vrn-form" )) ~}}
  {{> global-vrn-form }}
{{~/if}}
{{#if (test this.[@type] (toRegex ".*/content-stub" )) ~}}
  {{> content-stub }}
{{~/if}}